<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ygl.dao.DepartmentDao">
    <select id="showAllDep" resultType="Department">
        select * from department
    </select>

    <insert id="addDep">
        insert into department(depnumber, depname) values (#{depnumber},#{depname})
    </insert>

    <update id="updateDep">
        update department set depname = #{depname},depnumber=#{depnumber} where id=#{id}
    </update>

    <select id="selectOnebyId" resultType="Department">
        select * from department where id = #{id}
    </select>
</mapper>
